@charset "UTF-8";
/*--- FONTS ---*/
@font-face {
  font-family: 'helvetica-neuebold';
  src: url("../fonts/helvetica-neue-condensed-bold/HelveticaNeue-CondensedBold.eot");
  src: url("../fonts/helvetica-neue-condensed-bold/HelveticaNeue-CondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica-neue-condensed-bold/HelveticaNeue-CondensedBold.woff2") format("woff2"), url("../fonts/helvetica-neue-condensed-bold/HelveticaNeue-CondensedBold.woff") format("woff"), url("../fonts/helvetica-neue-condensed-bold/HelveticaNeue-CondensedBold.ttf") format("truetype"), url("../fonts/helvetica-neue-condensed-bold/HelveticaNeue-CondensedBold.svg#HelveticaNeue-CondensedBold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'arimobold';
  src: url("../fonts/arimo-bold/arimo-bold-webfont.woff2") format("woff2"), url("../fonts/arimo-bold/arimo-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*--- COLORS ---*/
.test {
  background-image: url("../img/oldtimer-header.jpg");
  height: 100vh; }

.no-padding-right-op {
  padding-right: 0px; }

.container-fluid {
  margin-left: 20%;
  margin-right: 20%; }
  .container-fluid.container-fluid-no-offset-right-op {
    margin-right: 0%; }

header {
  background-image: url("../img/oldtimer-header.jpg");
  height: 100%;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

nav.navbar-op {
  background-color: transparent;
  border: transparent;
  padding-top: 50px; }
  nav.navbar-op img.hero-image-op {
    width: 175px;
    height: 175px; }
  nav.navbar-op li.listitem-op {
    font-family: "helvetica-neuebold";
    font-size: 24px;
    text-transform: uppercase; }
    nav.navbar-op li.listitem-op:hover::after {
      width: 65px;
      border-bottom: 1px solid #a6c7b8;
      display: block;
      content: "";
      margin: 0 auto; }
    nav.navbar-op li.listitem-op:active {
      background-color: transparent; }
    nav.navbar-op li.listitem-op a.link-op {
      color: #a6c7b8; }
      nav.navbar-op li.listitem-op a.link-op:hover {
        background-color: transparent; }

.content-box {
  padding-top: 75px;
  padding-bottom: 75px; }

.content-box-no-padding-top {
  padding-top: 0px;
  padding-bottom: 0px; }

.content-box-multiple-op {
  padding-top: 75px;
  padding-bottom: 75px; }

img.picture {
  width: 100%;
  padding-bottom: 10px; }

h1 {
  font-family: "helvetica-neuebold";
  font-size: 54px;
  color: #a6c7b8;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 25px; }
  h1.heading-package {
    color: #ffffff; }

span.line {
  border-bottom: solid 3px #ffffff;
  width: 50%;
  display: block; }

span.line-passie-kennis {
  border-bottom: solid 3px #ffffff;
  width: 50%;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 25px; }

h2.subheading-package {
  font-family: arial;
  font-weight: bold;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase; }

h3.price-package {
  font-family: "helvetica-neuebold";
  background-color: #0c8580;
  color: #ffffff;
  background-image: url("../img/price-bg.png");
  background-repeat: no-repeat;
  text-transform: uppercase;
  background-size: 36px 66px;
  padding: 18px;
  font-size: 54px; }
  h3.price-package.pro-wash {
    background-position: 255px 0px;
    width: 290px; }
  h3.price-package.pro-wash-wax, h3.price-package.basic, h3.price-package.premium, h3.price-package.interior, h3.price-package.season {
    background-position: 415px 0px;
    width: 450px; }
  h3.price-package.vip, h3.price-package.oldtimer {
    background-position: 495px 0px;
    width: 530px; }
  h3.price-package.headlight {
    background-position: 565px 0px;
    width: 600px; }

p {
  margin: 0;
  padding-bottom: 25px; }
  p.text {
    font-family: arial;
    font-size: 16px;
    color: #666666;
    white-space: pre-wrap;
    text-align: justify;
    border: 0px; }

.button-wrapper {
  padding-top: 25px;
  padding-bottom: 40px; }

a.button {
  font-family: "helvetica-neuebold";
  font-size: 24px;
  background-color: #a6c7b8;
  color: #ffffff;
  padding: 15px 40px 15px 40px;
  text-transform: uppercase;
  border-width: 0px; }
  a.button.mobile-navigation-button {
    background-color: transparent; }
  a.button:hover {
    background-color: #666666;
    text-decoration: none; }
  a.button.load-more {
    margin: 0 auto;
    display: block;
    width: 50%; }

.contact-information p {
  line-height: 0px; }
  .contact-information p.uppercase {
    text-transform: uppercase; }
  .contact-information p.main-color {
    color: #a6c7b8; }
  .contact-information p.bold {
    font-weight: bold; }

.contact-information span.main-color {
  color: #a6c7b8; }

.contact-information span.bold {
  font-weight: bold; }

.contact-information button {
  background-color: #a6c7b8;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  text-transform: uppercase;
  border-width: 0px; }
  .contact-information button.contact-button {
    background-color: #666666; }
  .contact-information button:hover {
    background-color: #ffffff;
    color: #a6c7b8; }

.information-padding-top-op {
  padding-top: 125px; }

#map {
  height: 550px; }

.packages {
  background-color: #a6c7b8; }
  .packages h1 {
    margin: 0;
    padding-bottom: 0; }
  .packages p {
    padding-bottom: 0;
    line-height: 25px;
    color: #ffffff; }
    .packages p.package-description-op {
      font-family: arial;
      font-weight: bold;
      padding-top: 10px; }
    .packages p.conditions-package, .packages p.package-description-op {
      font-family: arial;
      width: 100%;
      color: #0c8580; }
    .packages p.item-op {
      font-family: arial;
      font-size: 16px; }
      .packages p.item-op:before {
        content: "•";
        width: 30px;
        display: inline-block; }

.passieENkennis {
  background-color: #a6c7b8; }
  .passieENkennis h1 {
    color: #ffffff;
    text-align: center;
    padding-bottom: 0px; }
  .passieENkennis p.text {
    color: #ffffff;
    text-align: center; }

.b2b p.text {
  padding: 0; }

.contact {
  /* background-color: $main-color;
	color: $main-color; */ }
  .contact h1 {
    color: #a6c7b8; }
  .contact p span {
    color: #a6c7b8; }
  .contact p.text {
    color: #666666; }
    .contact p.text a {
      text-decoration: none;
      color: #666666; }
  .contact .contact-part {
    padding-bottom: 25px; }

iframe {
  width: 100%;
  border: 0;
  overflow: hidden;
  padding-bottom: 50px; }

.more-pictures-op {
  text-align: center; }
  .more-pictures-op a {
    padding-left: 300px;
    padding-right: 300px; }

footer {
  font-family: "helvetica-neuebold";
  background-color: #000000;
  color: #ffffff; }
  footer p {
    font-size: 24px;
    padding: 0;
    padding-top: 20px; }
  footer a {
    padding: 10px 10px 0 10px; }
    footer a:active, footer a:hover, footer a:focus {
      color: #a6c7b8; }
  footer i {
    width: 20px;
    padding: 15px;
    color: #ffffff; }
    footer i:hover {
      color: #a6c7b8; }

@media only screen and (max-width: 1800px) {
  .container-fluid {
    margin-left: 5%;
    margin-right: 5%; } }

@media only screen and (max-width: 1105px) {
  .container-fluid.container-fluid-navigation-op {
    margin-left: 0%;
    margin-right: 0%; }
  .navbar-right {
    clear: both;
    float: left !important;
    padding-left: 0px; }
  nav.navbar-op li.listitem-op a:first-child {
    padding-left: 0px; }
  nav.navbar-op li.listitem-op a:hover {
    color: #000000; }
  nav.navbar-op li.listitem-op:hover::after {
    width: 0px; } }

@media only screen and (max-width: 991px) {
  .navbar-right {
    float: none !important; }
  .container-fluid {
    margin-left: 3%;
    margin-right: 3%; }
    .container-fluid.container-fluid-no-offset-right-op {
      margin-right: 3%; }
  button.contact-information {
    margin-bottom: 20px; }
  button.contact-button {
    margin-bottom: 20px; }
  .more-pictures-op a {
    padding-left: 30px;
    padding-right: 30px; }
  #map {
    margin-top: 30px; }
  .information-padding-top-op {
    padding-top: 75px; } }

@media only screen and (max-width: 767px) {
  nav {
    text-align: center; }
    nav .navbar-collapse-op {
      border: 0px; }
    nav.navbar-op li.listitem-op {
      float: center;
      font-size: 17px; }
      nav.navbar-op li.listitem-op:hover a {
        color: #000000; }
      nav.navbar-op li.listitem-op:hover::after {
        border-bottom: 0px; }
      nav.navbar-op li.listitem-op a.link-op {
        background-color: rgba(0, 0, 0, 0.4); }
    nav button.navbar-toggle-op {
      background-color: #a6c7b8;
      float: none;
      margin: 0 auto;
      display: block; }
  .navbar-default-op .navbar-toggle-op {
    border: 1px solid #a6c7b8;
    border-radius: 0px; }
    .navbar-default-op .navbar-toggle-op:hover, .navbar-default-op .navbar-toggle-op:focus {
      background-color: #a6c7b8; }
      .navbar-default-op .navbar-toggle-op:hover span.icon-bar-op, .navbar-default-op .navbar-toggle-op:focus span.icon-bar-op {
        background-color: #ffffff; }
    .navbar-default-op .navbar-toggle-op span.icon-bar-op {
      background-color: #a6c7b8;
      background-color: #ffffff; } }
