<!doctype html>
<html class="no-js">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- META FACEBOOK SHARE-->
		<meta property="og:title" content="Olipoli" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://www.olipoli.be" />
		<meta property="og:description" content="Olipoli beoogt de perfectie bij elke behandeling van uw wagen. Het gebruik van hoogwaardige materialen en het hanteren van de meest gespecialiseerde technieken zijn voor ons dan ook een must." />
		<meta property="og:image" content="" />
		<meta property="og:image:url" content="uploads/olipoli_facebook_share.png" />
		<title>Olipoli</title>
		<script src="assets/modernizr.js"></script>
		<script type="text/javascript" src="assets/js/libraries/jquery/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="assets/js/libraries/bootstrap/bootstrap.min.js"></script>
		<script type="text/javascript" src="assets/js/libraries/slider/jquery.royalslider.min.js"></script>
		<script type="text/javascript" src="assets/js/libraries/slider/script.js"></script>
		<script>
		$(function() {
			$(document).on('click', 'a', function(event){
				event.preventDefault();

				$('html, body').animate({
					scrollTop: $( $.attr(this, 'href') ).offset().top
				}, 500);
				});
			});
		</script>

		<link rel="stylesheet" type="text/css" href="assets/css/libraries/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/libraries/fontawesome/font-awesome.css">
		<link rel="stylesheet" type="text/css" href="assets/css/app.css">
		<link rel="stylesheet" type="text/css" href="assets/css/libraries/slider/style.css" rel="stylesheet">
	</head>
	<body ng-app="olipoli">
		<div ng-controller="mainCtrl">
			<header>
				<nav class="navbar navbar-default navbar-op navbar-default-op">
				  <div class="container">
					<div class="navbar-header">
					  <a href="/">
						<img class="hero-image-op" ng-repeat="picture in pictures" ng-src="uploads/{[{picture.picture_url}]}" alt="{[{picture.picture_alt}]}" ng-if="picture.picture_type == 'logo'" />
					  </a>

					  <button type="button" class="navbar-toggle navbar-toggle-op collapsed mobile-navigation-button" data-toggle="collapse" data-target="#menu-collapse" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar icon-bar-op"></span>
						<span class="icon-bar icon-bar-op"></span>
						<span class="icon-bar icon-bar-op"></span>
					  </button>
					</div>

					<div class="collapse navbar-collapse navbar-right navbar-collapse-op" id="menu-collapse">
						<ul ng-repeat="listitem in listitems | orderBy : 'listitem_position'" class="nav navbar-nav">
							<li class="listitem-op">
								<a href="{[{listitem.listitem_anchor}]}" class="link-op">{[{listitem.listitem_title}]}</a>
							</li>
						</ul>
					</div>
				  </div>
				</nav>
			</header>
			
			<div class="container">
				<div class="content-box row">
					<div class="col-md-12" ng-repeat="content in contents" ng-if="content.content_type == 'onze-kracht'">
						<h1 id="{[{content.content_anchor}]}">{[{content.content_title}]}</h1>
						<h2 ng-if="content.content_subtitle != 0">{[{content.content_subtitle}]}</h2>
						<p class="text">{[{content.content_description}]}</p>
						<a href="{[{content.content_buttonAnchor}]}" class="link-op">
							<button ng-if="content.content_button != 0">{[{content.content_button}]}</button>
						</a>
						<div ng-repeat="picture in content.pictures">
							<img ng-src="uploads/{[{picture.picture_url}]}" alt="{[{picture.picture_alt}]}" />
						</div>
					</div>
				</div>
			</div>

			<div class="packages" id="formules" style="background-color: #a6c7b8;">
				<div class="container">
					<div class="content-box row">
						<div class="col-md-12">
							<div id="content-slider-1" class="container royalSlider contentSlider rsDefault">
								<div class="package">
									<div ng-repeat="package in packages" ng-if="package.package_id == 1">
										@include('includes.package')
										<button class="rsTmb">Pro Wash</button>
									</div>
								</div>
						
								<div class="package">
									<div ng-repeat="package in packages" ng-if="package.package_id == 2">
										@include('includes.package')
										<button class="rsTmb">Pro Wash & Wax</button>
									</div>
								</div>

								<div class="package">
									<div ng-repeat="package in packages" ng-if="package.package_id == 3">
										@include('includes.package')
										<button class="rsTmb">Basic Package</button>
									</div>
								</div>

								<div class="package">
									<div ng-repeat="package in packages" ng-if="package.package_id == 4">
										@include('includes.package')
										<button class="rsTmb">Premium Package</button>
									</div>
								</div>

								<div class="package">
									<div ng-repeat="package in packages" ng-if="package.package_id == 5">
										@include('includes.package')
										<button class="rsTmb">Interior Package</button>
									</div>
								</div>

								<div class="package">
									<div ng-repeat="package in packages" ng-if="package.package_id == 6">
										@include('includes.package')
										<button class="rsTmb">Season Package</button>
									</div>
								</div>

								<div class="package">
									<div ng-repeat="package in packages" ng-if="package.package_id == 7">
										@include('includes.package')
										<button class="rsTmb">Vip Package</button>
									</div>
								</div>

								<div class="package">
									<div>
										<h1 class="heading-package">Polijsten van koplampen</h1>
										<span class="line">&nbsp;</span>
										<p class="package-description-op" ng-if="package.package_description != 0"><b>Een veel voorkomend probleem is het dof of mat trekken van koplampen, het gevolg is dat ze minder licht gaan doorlaten. De meeste garages raden u dan ook aan om deze te vervangen wat meestal duur uitkomt, wij kunnen uw koplampen er als nieuw laten uitzien en een Can coat beschermlaag geven.</b></p>
										<h3 class="price-package">40 EUR per koplamp</h3>
										<p class="conditions-package"><small>De prijs is afhankelijk van het type wagen en de staat waarin de wagen zich bevindt!</small></p>
										<button class="rsTmb">Polijsten van koplampen</button>
									</div>
								</div>

								<div class="package">
									<div>
										<h1 class="heading-package">Oldtimers</h1>
										<span class="line">&nbsp;</span>
										<p class="package-description-op" ng-if="package.package_description != 0"><b>Heeft u een voorliefde voor oldtimers dan kan u bij ons terecht! De autolak van een oldtimer moet dan ook met de nodige zorg behandeld worden, Een oldtimer polijsten verreist nu eenmaal een andere aanpak dan het polijsten van moderne wagens.</b></p>
										<h3 class="price-package">Prijs op aanvraag</h3>
										<p class="conditions-package"><small>De prijs is afhankelijk van het type wagen en de staat waarin de wagen zich bevindt!</small></p>
										<button class="rsTmb">Oldtimers</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div ng-repeat="content in contents" ng-if="content.content_type == 'referenties'" style="background-color: {[{content.content_background}]}">
				<div class="container">
					<div class="content-box-multiple-op row">
						<div class="col-md-12" ng-if="content.content_type == 'referenties'">
							<h1 id="{[{content.content_anchor}]}">{[{content.content_title}]}</h1>
							<h2 ng-if="content.content_subtitle != 0">{[{content.content_subtitle}]}</h2>
							<p class="text">{[{content.content_description}]}</p>
							<div class="row pictures">
								<div class="col-md-4 picture" ng-repeat="picture in content.pictures">
									<img class="picture" ng-src="uploads/{[{picture.picture_url}]}" alt="{[{picture.picture_alt}]}" />
								</div>
							</div>
							{{-- <button ng-if="content.content_button != 0" class="load-more">{[{content.content_button}]}</button> --}}
						</div>
					</div>
				</div>
			</div>

			<div ng-repeat="content in contents" ng-if="content.content_type == 'passie-kennis'" style="background-color: #a6c7b8;">
				<div class="container">
					<div class="content-box-multiple-op row">
						<div ng-if="content.content_type == 'passie-kennis'">
							<div class="col-md-6" ng-repeat="picture in content.pictures">
								<img class="picture" ng-src="uploads/{[{picture.picture_url}]}" alt="{[{picture.picture_alt}]}" />
							</div>
							<div class="col-md-6">
								<h1 id="{[{content.content_anchor}]}" style="color:#FFF; text-align:center; padding-bottom: 0px;">{[{content.content_title}]}</h1>
								<span class="line-passie-kennis">&nbsp;</span>
								<h2 ng-if="content.content_subtitle != 0" style="color:#FFF; text-align:center;">{[{content.content_subtitle}]}</h2>
								<p class="text" style="color:#FFF; text-align:center;">{[{content.content_description}]}</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div ng-repeat="content in contents" ng-if="content.content_type == 'b2b'" style="background-color: {[{content.content_background}]}">
				<div class="container">
					<div class="content-box-multiple-op row">
						<div class="col-md-12" ng-if="content.content_type == 'b2b'">
							<h1 id="{[{content.content_anchor}]}">{[{content.content_title}]}</h1>
							<h2 ng-if="content.content_subtitle != 0">{[{content.content_subtitle}]}</h2>
							<p class="text">{[{content.content_description}]}</p>
							<div class="row pictures">
								<div class="col-md-4 picture" ng-repeat="picture in content.pictures">
									<img class="picture" ng-src="uploads/{[{picture.picture_url}]}" alt="{[{picture.picture_alt}]}" />
								</div>
							</div>
							{{-- <button ng-if="content.content_button != 0" class="load-more">{[{content.content_button}]}</button> --}}
						</div>
					</div>
				</div>
			</div>

			<div style="background-color: #a6c7b8;">
				<div class="container">
					<div class="contact content-box row">
						<div class="col-md-6">
							<div ng-repeat="contact in contacts" style="color:#FFF;">
								<h1 id="{[{contact.contact_anchor}]}" style="color:#FFF;">{[{contact.contact_company}]}</h1>
								<div ng-repeat="address in contact.addresses">
									<p>{[{address.address_street}]} {[{address.address_number}]},</p>
									<p>{[{address.address_postalcode}]} {[{address.address_city}]}</p>

									<p><span class="bold">M.</span> {[{contact.contact_phoneA}]}</p>
									<p ng-if="contact.contact_phoneB != 0">{[{contact.contact_phoneB}]}</p>
									<p><span class="bold">E.</span> {[{contact.contact_email}]}</p>
									<p class="bold uppercase">{[{contact.contact_information}]}</p>
									<a href="mailto:{[{contact.contact_email}]}">
										<button class="contact">{[{contact.contact_button}]}</button>
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div id="map"></div>
						</div>
					</div>
				</div>
			</div>

			<div id="map"></div>

			<footer ng-repeat="content in contents" ng-if="content.content_type == 'footer'">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="text-left">
								<p style="padding:0; padding-top: 20px;">{[{content.content_title}]}</p>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="text-right" style="padding-bottom: 20px;">
								<a href="{[{social.social_link}]}" target="_blank" ng-repeat="social in content.socials">
									<i class="fa {[{social.social_fontawesome}]} fa-2x" aria-hidden="true"></i>
								</a>
							</div>
						</div>
						<center style="padding-top:10px; font-size: 9px;"><p><a href="http://www.gillesvanpeteghem.be" target="_blank">GILVAN</a></i></p></center>
					</div>
				</div>
			</footer>
		</div>

		<script src="assets/js/libraries/angular/angular.js" type="text/javascript"></script>
		<script src="assets/js/angular.js" type="text/javascript"></script>

		<script src="assets/jquery-2.1.4.js"></script>
		<script src="assets/jquery.mobile.custom.min.js"></script>
		<script src="assets/js/libraries/pointy-slider/main.js"></script>
		<script>
			function initMap(latitude, longitude) {
				var geocodingAPI = "http://www.olipoli.be/addresses_json";
 
				$.getJSON(geocodingAPI, function (json) {
					var latitude = JSON.parse(json[0].address_latitude);
					var longitude = JSON.parse(json[0].address_longitude);

					var myLatLng = {lat: parseFloat(latitude), lng: parseFloat(longitude)};

					var map = new google.maps.Map(document.getElementById('map'), {
						zoom: 12,
						center: myLatLng
					});

					var marker = new google.maps.Marker({
						position: myLatLng,
						map: map,
						title: 'Olipoli!'
					});
				});  
			}
		</script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjN7k0oVLfPI5jh9L29xvKjwDOqs4lf50&callback=initMap"></script>
	</body>
</html>