<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Als zaakvoerder van Olipoli wil ik mezelf en mijn bedrijf even voorstellen. Ik ben Olivier Mortier. Al van kinds af aan ben ik gepassioneerd door wagens. De ene dag racete ik rond op mijn quad, de andere richtte ik onze oprit in als carwash. Naast mijn werk als pijpfitter bleef ik met een verlangen zitten om met die passie voor auto’s aan de slag te gaan. Vanuit deze interesse is Olipoli dus ontstaan.">
		<meta name="keywords" content="polijsten,waxen,detailing,olipoli,olivier,mortier">
		<link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
		<link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">
		<!-- META FACEBOOK SHARE-->
		<meta property="og:title" content="Olipoli" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://www.olipoli.be" />
		<meta property="og:description" content="Olipoli beoogt de perfectie bij elke behandeling van uw wagen. Het gebruik van hoogwaardige materialen en het hanteren van de meest gespecialiseerde technieken zijn voor ons dan ook een must." />
		<meta property="og:image" content="" />
		<meta property="og:image:url" content="assets/img/olipoli_facebook_share.png" />
		<title>Olipoli</title>
		<script type="text/javascript" src="assets/js/libraries/modernizr/modernizr.js"></script>
		<script type="text/javascript" src="assets/js/libraries/jquery/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="assets/js/libraries/bootstrap/bootstrap.min.js"></script>
		<script type="text/javascript" src="//lightwidget.com/widgets/lightwidget.js"></script>
		<script type="text/javascript" src="assets/js/libraries/lightwidget/lightwidget.js"></script>
		<link rel="stylesheet" type="text/css" href="assets/css/libraries/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/libraries/fontawesome/font-awesome.css">
		<link rel="stylesheet" type="text/css" href="assets/css/main.min.css">
	</head>
	<body>
		<div class="wrapper">
			include "header.html"

			<div class="container-fluid">
				<div class="content-box row">
					<div class="col-md-12">
						<h1 id="onze-kracht">Uw wagen, onze zorg</h1>
						<p class="text">Weersomstandigheden en allerhande vervuiling zoals vogeluitwerpselen, strooizout, UV-stralen, ... kunnen de carrosserie van u voertuig beschadigen. Het is erg belangrijk dat u de nodige bescherming voorziet. Of het nu gaat om een nieuwe wagen die u langdurig wenst te beschermen of een tweedehands voertuig dat een upgrade kan gebruiken, Olipoli biedt u de nodige expertise op maat. De krassen op uw wagen worden steeds met de grootste zorg gepolierd en gewaxt, alsof de wagen de onze zou zijn.</p>
						<p class="text">U kan niet alleen voor de carrosserie van uw wagen bij ons terecht, ook uw interieur krijgt bij ons de nodige aandacht. Een professionele dieptereiniging voor het volledige interieur van uw voertuig of het verwijderen van onaangename geuren, het zijn maar enkele van onze formules.</p>
						<p class="text">Olipoli beoogt de perfectie bij elke behandeling van uw wagen. Het gebruik van hoogwaardige materialen en het hanteren van de meest gespecialiseerde technieken zijn voor ons dan ook een must.</p>
						<p id="b2b" class="text"><b>B2B VOOR PROFESSIONALS (GARAGES EN AUTODEALERS)</b></p>
						<p class="text">Een mooi ogende wagen verkoopt veel beter! Bent u als garagist of autodealer geïnteresseerd dan kan je beroep doen op onze diensten.</p>
					</div>
				</div>
			</div>

			<div id="packages" class="packages" id="formules">
				<div class="container-fluid container-fluid-no-margin-left-op container-fluid-no-offset-right-op">
					<div id="carousel-example-generic" class="carousel slide">
						<div class="content-box-no-margin-right row">
							<div id="package-scrolling"  class="col-md-6 margin-left-mobile-op">
								<div class="carousel-inner" role="listbox">
									<div class="item item-one active">
										<div class="package package-pro-wash">
											<div class="package-title-op">
												<h1 class="heading-package">PRO WASH</h1>
												<span class="line">&nbsp;</span>
											</div>
											<div class="package-styles-op">
												<div class="types-op">
													<h2 class="subheading-package">Exterieur</h2>
													<ul class="list-wrapper-op">
														<li class="item-op">Afspuiten van de wagen met hogedrukreiniger/foamen</li>
														<li class="item-op">Wassen van de wagen met Ph-neutrale shampoo</li>
														<li class="item-op">Reinigen van de ramen</li>
														<li class="item-op">Reinigen van de velgen en wielkasten</li>
														<li class="item-op">Afwerken met detailspray</li>
														<li class="item-op">Bandendressing aanbrengen</li>
													</ul>
													<h2 class="subheading-package">Interieur</h2>
													<ul class="list-wrapper-op">
														<li class="item-op">De wagen volledig stofzuigen</li>
													</ul>
												</div>
											</div>
											<h3 class="price-package pro-wash">50 EUR* <small>excl btw</small></h3>
											<p class="conditions-package"><small>*De prijs is afhankelijk van het type wagen en de staat waarin de wagen zich bevindt.</small></p>
										</div>
									</div>
									<div class="item item-two">
										<div class="package package-pro-wash-wax">
											<div class="package-title-op">
												<h1 class="heading-package">Basic Package</h1>
												<span class="line">&nbsp;</span>
											</div>
											<div class="package-styles-op">
												<div class="types-op">
													<h2 class="subheading-package">Exterieur</h2>
													<ul class="list-wrapper-op">
														<li class="item-op">Afspuiten van de wagen met hogedrukreiniger/foamen</li>
														<li class="item-op">Wassen van de wagen met Ph-neutrale shampoo</li>
														<li class="item-op">Reinigen van de ramen</li>
														<li class="item-op">Reinigen van de velgen en wielkasten</li>
														<li class="item-op">Clayen van de wagen om het hardnekkige vuil te verwijderen</li>
														<li class="item-op">Aanbrengen van de wax (hoogglans)</li>
														<li class="item-op">Ontvetten en voeden van de banden</li>
													</ul>
													<h2 class="subheading-package">Interieur</h2>
													<ul class="list-wrapper-op">
														<li class="item-op">De wagen volledig stofzuigen</li>
													</ul>
												</div>
											</div>
											<h3 class="price-package pro-wash-wax">220 EUR* <small>excl btw</small></h3>
											<p class="conditions-package"><small>*De prijs is afhankelijk van het type wagen en de staat waarin de wagen zich bevindt.</small></p>
										</div>
									</div>
									<div class="item item-three">
										<div class="package package-basic">
											<div class="package-title-op">
												<h1 class="heading-package">Basic Package<sup>+</sup></h1>
												<span class="line">&nbsp;</span>
											</div>
											<p class="package-description-op">Dit pakket is ideeal voor mensen die hun auto een basis opknapbeurt willen geven.</p>
											<div class="package-styles-op">
												<div class="types-op">
													<h2 class="subheading-package">Exterieur</h2>
													<ul class="list-wrapper-op">
														<li class="item-op">Afspuiten van de wagen met hogedrukreiniger/foamen</li>
														<li class="item-op">Wassen van de wagen met Ph-neutrale shampoo</li>
														<li class="item-op">Bandendressing aanbrengen</li>
														<li class="item-op">Clayen van de wagen om het hardnekkige vuil te verwijderen</li>
														<li class="item-op">Polijstbehandeling (lichte correctie)</li>
														<li class="item-op">Aanbrengen van basis coating</li>
														<li class="item-op">Ramen reinigen</li>
														<li class="item-op">Rubbers en kunstof voeden aan de buitenzijde van de wagen</li>
													</ul>
												</div>
												<div class="button-wrapper">
													<button type="button" data-toggle="modal" data-target="#basic-package" class="button read-more">Lees meer</button>
												</div>
												
											</div>
										</div>
									</div>
									<div id="basic-package" class="modal fade" role="dialog">
										<div class="modal-dialog modal-dialog-op modal-lg">
											<div class="modal-content modal-content-op">
												<div class="modal-header modal-header-op">
													<button type="button" class="close close-op" data-dismiss="modal">X</button>
												</div>
												<div class="modal-body modal-body-op">
													<div class="package-more">
														<h1 class="heading-package">Basic Package<sup>+</sup></h1>
														<span class="line">&nbsp;</span>
														<p class="package-description-op">Dit pakket is ideeal voor mensen die hun auto een basis opknapbeurt willen geven.</p>
														<div class="package-styles-op">
															<div class="types-op">
																<h2 class="subheading-package">Exterieur</h2>
																<ul class="list-wrapper-op">
																	<li class="item-op">Afspuiten van de wagen met hogedrukreiniger/foamen</li>
																	<li class="item-op">Wassen van de wagen met Ph-neutrale shampoo</li>
																	<li class="item-op">Bandendressing aanbrengen</li>
																	<li class="item-op">Clayen van de wagen om het hardnekkige vuil te verwijderen</li>
																	<li class="item-op">Polijstbehandeling (lichte correctie)</li>
																	<li class="item-op">Aanbrengen van basis coating</li>
																	<li class="item-op">Ramen reinigen</li>
																	<li class="item-op">Rubbers en kunstof voeden aan de buitenzijde van de wagen</li>
																	<li class="item-op">Behandelen van de velgen</li>
																	<li class="item-op">Ramen reinigen + glas polish</li>
																</ul>
															</div>
															<div class="types-op">
																<h2 class="subheading-package">Interieur</h2>
																<ul class="list-wrapper-op">
																	<li class="item-op">Stofzuigen van de wagen</li>
																</ul>
															</div>
														</div>
														<h3 class="price-package basic">605 EUR* <small>excl btw</small></h3>
														<p class="conditions-package"><small>*De prijs is afhankelijk van het type wagen en de staat waarin de wagen zich bevindt.</small></p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- <div class="item item-four">
										<div class="package package-premium">
											<div class="package-title-op">
												<h1 class="heading-package">Premium Package</h1>
												<span class="line">&nbsp;</span>
											</div>
											<p class="package-description-op">Bij dit pakket gaan we specifiek uw autolak onder handen nemen om zo uw lakwerk naar een hoger niveau te brengen.</p>
											<div class="package-styles-op">
												<div class="types-op">
													<h2 class="subheading-package">Exterieur</h2>
													<ul class="list-wrapper-op">
														<li class="item-op">Afspuiten van de wagen met hogedrukreiniger/foamen</li>
														<li class="item-op">Wassen van de wagen met Ph-neutrale shampoo</li>
														<li class="item-op">Bandendressing aanbrengen</li>
														<li class="item-op">Clayen van de wagen om het hardnekkige vuil te verwijderen</li>
														<li class="item-op">Drogen met air force blaster</li>
														<li class="item-op">Aanbrengen van een Carnauba wax</li>
														<li class="item-op">Behandelen van de velgen</li>
														<li class="item-op">Volledige lakinspectie + meten van de lakdikte met een lakdikte meter</li>
													</ul>
												</div>
												<div class="button-wrapper">
													<button type="button" data-toggle="modal" data-target="#premium-package" class="button read-more">Lees meer</button>
												</div>
											</div>
										</div>
									</div>
									<div id="premium-package" class="modal fade" role="dialog">
										<div class="modal-dialog modal-dialog-op modal-lg">
											<div class="modal-content modal-content-op">
												<div class="modal-header modal-header-op">
													<button type="button" class="close close-op" data-dismiss="modal">&times;</button>
												</div>
												<div class="modal-body modal-body-op">
													<div class="package-more">
														<h1 class="heading-package">Premium Package</h1>
														<span class="line">&nbsp;</span>
														<p class="package-description-op">Bij dit pakket gaan we specifiek uw autolak onder handen nemen om zo uw lakwerk naar een hoger niveau te brengen.</p>
														<div class="package-styles-op">
															<div class="types-op">
																<h2 class="subheading-package">Exterieur</h2>
																<ul class="list-wrapper-op">
																	<li class="item-op">Afspuiten van de wagen met hogedrukreiniger/foamen</li>
																	<li class="item-op">Wassen van de wagen met Ph-neutrale shampoo</li>
																	<li class="item-op">Bandendressing aanbrengen</li>
																	<li class="item-op">Clayen van de wagen om het hardnekkige vuil te verwijderen</li>
																	<li class="item-op">Drogen met air force blaster</li>
																	<li class="item-op">Aanbrengen van een Carnauba wax</li>
																	<li class="item-op">Behandelen van de velgen</li>
																	<li class="item-op">Volledige lakinspectie + meten van de lakdikte met een lakdikte meter</li>
																	<li class="item-op">3 grondige polijststappen om lichte krasjes en swirls te verwijderen en een diepe glans terug te geven aan de wagen</li>
																	<li class="item-op">Uw ramen krijgen een glas polish</li>
																</ul>
																<h2 class="subheading-package">Interieur</h2>
																<ul class="list-wrapper-op">
																	<li class="item-op">Stofzuigen van de wagen</li>
																</ul>
															</div>
														</div>
														<h3 class="price-package premium">Vanaf 450 EUR*</h3>
														<p class="conditions-package"><small>*De prijs is afhankelijk van het type wagen en de staat waarin de wagen zich bevindt.</small></p>
													</div>
												</div>
											</div>
										</div>
									</div> -->
									<div class="item item-four">
										<div class="package package-interior">
											<div class="package-title-op">
												<h1 class="heading-package">Interior Package</h1>
												<span class="line">&nbsp;</span>
											</div>
											<p class="package-description-op">Uw interieur verdient ook aandacht! Het krijgt vaak te maken met etensresten,onaangename geur, rook, haar,... bij ons krijg je dan ook een volledige interieurreiniging (zetels stof of leder) waarin alles uitgebreid aan bod komt.</p>
											<div class="package-styles-op">
												<div class="types-op">
													<h2 class="subheading-package">Interieur</h2>
													<ul class="list-wrapper-op">
														<li class="item-op">Grondig stofzuigen van de wagen</li>
														<li class="item-op">Diepte reiniging van de zetels en tapijten (stof of leder)</li>
														<li class="item-op">Voeden van de lederen bekleding</li>
														<li class="item-op">Voeden van de rubbers aan de deuropeningen</li>
														<li class="item-op">Behandelen en reinigen van de ramen</li>
														<li class="item-op">Reingen en voeden van de deurpanelen en dashbord</li>
													</ul>
												</div>
												<h3 class="price-package interior">150 EUR* <small>excl btw</small></h3>
												<p class="conditions-package"><small>*De prijs is afhankelijk van het type wagen en de staat waarin de wagen zich bevindt.</small></p>
											</div>
										</div>
									</div>
									<!-- <div class="item item-six">
										<div class="package package-season">
											<div class="package-title-op">
												<h1 class="heading-package">Season Package</h1>
												<span class="line">&nbsp;</span>
											</div>
											<p class="package-description-op">Twee maal per jaar geven wij uw wagen een behandeling, zo is uw wagen een hele winter beschermd tegen extreme weersinvloeden en blijft hij in de zomermaanden mooi schitteren.</p>
											<div class="package-styles-op">
												<div class="types-op">
													<h2 class="subheading-package">Exterieur</h2>
													<ul class="list-wrapper-op">
														<li class="item-op">Afspuiten van de wagen met hogedrukreiniger/foamen</li>
														<li class="item-op">Wassen van de wagen met Ph-neutrale shampoo</li>
														<li class="item-op">Bandendressing aanbrengen</li>
														<li class="item-op">Clayen van de wagen om het hardnekkige vuil te verwijderen</li>
														<li class="item-op">Drogen met air force blaster</li>
														<li class="item-op">Polijstbehandeling (1stap)</li>
														<li class="item-op">Rubbers en kunstof voeden aan de buitenzijde van de wagen</li>
													</ul>
												</div>
												<div class="button-wrapper">
													<button type="button" data-toggle="modal" data-target="#season-package" class="button read-more">Lees meer</button>
												</div>
											</div>
										</div>
									</div>
									<div id="season-package" class="modal fade" role="dialog">
										<div class="modal-dialog modal-dialog-op modal-lg">
											<div class="modal-content modal-content-op">
												<div class="modal-header modal-header-op">
													<button type="button" class="close close-op" data-dismiss="modal">&times;</button>
												</div>
												<div class="modal-body modal-body-op">
													<div class="package-more">
														<h1 class="heading-package">Season Package</h1>
														<span class="line">&nbsp;</span>
														<p class="package-description-op">Twee maal per jaar geven wij uw wagen een behandeling, zo is uw wagen een hele winter beschermd tegen extreme weersinvloeden en blijft hij in de zomermaanden mooi schitteren.</p>
														<div class="package-styles-op">
															<div class="types-op">
																<h2 class="subheading-package">Exterieur</h2>
																<ul class="list-wrapper-op">
																	<li class="item-op">Afspuiten van de wagen met hogedrukreiniger/foamen</li>
																	<li class="item-op">Wassen van de wagen met Ph-neutrale shampoo</li>
																	<li class="item-op">Bandendressing aanbrengen</li>
																	<li class="item-op">Clayen van de wagen om het hardnekkige vuil te verwijderen</li>
																	<li class="item-op">Drogen met air force blaster</li>
																	<li class="item-op">Polijstbehandeling (1stap)</li>
																	<li class="item-op">Rubbers en kunstof voeden aan de buitenzijde van de wagen</li>
																	<li class="item-op">Behandelen van de velgen</li>
																	<li class="item-op">Aanbrengen van een carnauba wax</li>
																	<li class="item-op">Ramen reinigen + glas polish</li>
																</ul>
															</div>
														</div>
														<h3 class="price-package season">Vanaf 400 EUR*</h3>
														<p class="conditions-package"><small>*De prijs is afhankelijk van het type wagen en de staat waarin de wagen zich bevindt.</small></p>
													</div>
												</div>
											</div>
										</div>
									</div> -->
									<div class="item item-five">
										<div class="package package-vip">
											<div class="package-title-op">
												<h1 class="heading-package">Vip Package</h1>
												<span class="line">&nbsp;</span>
											</div>
											<p class="package-description-op">Deze exclusive detail is maatwerk en voor de echte liefhebber, we brengen je wagen dan ook naar een absolute showroom staat zowel het interieur als exterieur en motor ruimte worden onder handen genomen!</p>
											<div class="package-styles-op">
												<div class="types-op">
													<h2 class="subheading-package">Exterieur</h2>
													<ul class="list-wrapper-op">
														<li class="item-op">Afspuiten van de wagen met hogedrukreiniger/foamen</li>
														<li class="item-op">Wassen van de wagen met Ph-neutrale shampoo</li>
														<li class="item-op">Clayen van de wagen om het hardnekkige vuil te verwijderen</li>
														<li class="item-op">Drogen met air force blaster</li>
														<li class="item-op">3 grondige polijststappen om lichte krasjes en swirls te verwijderen en een diepe glans terug te geven aan de wagen</li>
														<li class="item-op">Aanbrengen van een lak, velgen,ramen coating</li>
													</ul>
												</div>
												<div class="button-wrapper">
													<button type="button" data-toggle="modal" data-target="#vip-package" class="button read-more">Lees meer</button>
												</div>
											</div>
										</div>
									</div>
									<div id="vip-package" class="modal fade" role="dialog">
										<div class="modal-dialog modal-dialog-op modal-lg">
											<div class="modal-content modal-content-op">
												<div class="modal-header modal-header-op">
													<button type="button" class="close close-op" data-dismiss="modal">&times;</button>
												</div>
												<div class="modal-body modal-body-op">
													<div class="package-more">
														<h1 class="heading-package">Vip Package</h1>
														<span class="line">&nbsp;</span>
														<p class="package-description-op">Deze exclusive detail is maatwerk en voor de echte liefhebber, we brengen je wagen dan ook naar een absolute showroom staat zowel het interieur als exterieur en motor ruimte worden onder handen genomen!</p>
														<div class="package-styles-op">
															<div class="types-op">
																<h2 class="subheading-package">Exterieur</h2>
																<ul class="list-wrapper-op">
																	<li class="item-op">Afspuiten van de wagen met hogedrukreiniger/foamen</li>
																	<li class="item-op">Wassen van de wagen met Ph-neutrale shampoo</li>
																	<li class="item-op">Clayen van de wagen om het hardnekkige vuil te verwijderen</li>
																	<li class="item-op">Drogen met air force blaster</li>
																	<li class="item-op">3 grondige polijststappen om lichte krasjes en swirls te verwijderen en een diepe glans terug te geven aan de wagen</li>
																	<li class="item-op">Aanbrengen van een lak, velgen,ramen coating</li>
																	<li class="item-op">Velgen behandelen</li>
																	<li class="item-op">Aanbrengen van een Tire coat op de banden</li>
																</ul>
																<h2 class="subheading-package">Interieur</h2>
																<ul class="list-wrapper-op">
																	<li class="item-op">Diepte reiniging van de zetels en tapijten (stof of leder)</li>
																	<li class="item-op">Luxe interieurreiniging</li>
																	<li class="item-op">Coating aanbrengen op de zetels</li>
																</ul>
															</div>
														</div>
														<h3 class="price-package vip smaller">Prijs op aanvraag*</h3>
														<p class="conditions-package"><small>*De prijs is afhankelijk van het type wagen en de staat waarin de wagen zich bevindt.</small></p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="item item-six">
										<div class="package package-headlight">
											<div class="package-title-op">
												<h1 class="heading-package">Polijsten van koplampen</h1>
												<span class="line">&nbsp;</span>
											</div>
											<p class="package-description-op">Een veel voorkomend probleem is het dof of mat trekken van koplampen, het gevolg is dat ze minder licht gaan doorlaten. De meeste garages raden u dan ook aan om deze te vervangen wat meestal duur uitkomt, wij kunnen uw koplampen er als nieuw laten uitzien en een Can coat beschermlaag geven.</p>
											<h3 class="price-package headlight">40 EUR per koplamp* <small>excl btw</small></h3>
											<p class="conditions-package"><small>*De prijs is afhankelijk van het type wagen en de staat waarin de wagen zich bevindt!</small></p>
										</div>
									</div>
									<div class="item item-seven">
										<div class="package package-oldtimers">
											<div class="package-title-op">
												<h1 class="heading-package">Oldtimers</h1>
												<span class="line">&nbsp;</span>
											</div>
											<p class="package-description-op" ng-if="package.package_description != 0">Heeft u een voorliefde voor oldtimers dan kan u bij ons terecht! De autolak van een oldtimer moet dan ook met de nodige zorg behandeld worden, Een oldtimer polijsten vereist nu eenmaal een andere aanpak dan het polijsten van moderne wagens.</p>
											<h3 class="price-package oldtimer smaller">Prijs op aanvraag*</h3>
											<p class="conditions-package"><small>*De prijs is afhankelijk van het type wagen en de staat waarin de wagen zich bevindt!</small></p>
										</div>
									</div>
									<!-- <div class="item item-eight">
										<div class="package package-oldtimers">
											<div class="package-title-op">
												<h1 class="heading-package">Coatings</h1>
												<span class="line">&nbsp;</span>
											</div>
											<p class="package-description-op" ng-if="package.package_description != 0">Coatings Description</p>
											<h3 class="price-package oldtimer smaller">Coatings prijs*</h3>
											<p class="conditions-package"><small>*De prijs is afhankelijk van het type wagen en de staat waarin de wagen zich bevindt!</small></p>
										</div>
									</div> -->
								</div>
							</div>
							<div class="col-md-6 background background-image-one">
								<ol class="carousel-indicators carousel-indicators-numbers carousel-indicators-op carousel-indicators-numbers-op">
								    <li data-target="#carousel-example-generic" data-slide-to="0" id="one" class="active">1</li>
								    <li data-target="#carousel-example-generic" data-slide-to="1" id="two">2</li>
								    <li data-target="#carousel-example-generic" data-slide-to="2" id="three">3</li>
								    <li data-target="#carousel-example-generic" data-slide-to="3" id="four">4</li>
								    <li data-target="#carousel-example-generic" data-slide-to="4" id="five">5</li>
								    <li data-target="#carousel-example-generic" data-slide-to="5" id="six">6</li>
								    <li data-target="#carousel-example-generic" data-slide-to="6" id="seven">7</li>
								   <!--  <li data-target="#carousel-example-generic" data-slide-to="7" id="eight">8</li>
								    <li data-target="#carousel-example-generic" data-slide-to="8" id="nine">9</li> -->
							    </ol>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container-fluid">
				<div class="content-box-multiple-op row">
					<div class="col-md-12">
						<h1 id="referenties">Referenties</h1>
						<p class="text">Wij bij Olipoli zijn ervan overtuigd dat beelden meer spreken dan duizend woorden. Enkele voor en na realisaties willen we u dan ook niet onthouden. Heeft u specifieke vragen omtrent één van deze projecten, aarzel niet ons te contacteren!</p>
						<div class="row">
							<!-- <div class="col-md-12">
								<iframe src="https://cdn.lightwidget.com/widgets/f618805c2c445403a26fae1f1b4b7e37.html" scrolling="no" allowtransparency="true" class="lightwidget-widget"></iframe>
							</div> -->
								<div class="button-wrapper more-pictures-op">
									<a href="https://www.instagram.com/olipoliofficial" target="_blank" class="button more-pictures-op">Foto's</a>
									<!-- <a href="https://www.instagram.com/olipoliofficial" target="_blank" class="button more-pictures-op">Meer foto's</a> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="passieENkennis">
				<div class="container-fluid">
					<div class="content-box-multiple-op row">
						<div>
							<div id="olipoli" class="col-md-6">
								<img class="picture-op" src="assets/img/olivier-mortier.png" alt="olivier mortier zaakvoerder olipoli" />
							</div>
							<div class="col-md-6">
								<h1>Passie & kennis</h1>
								<span class="line-passie-kennis">&nbsp;</span>
								<p class="text">Als zaakvoerder van Olipoli wil ik mezelf en mijn bedrijf even voorstellen. Ik ben Olivier Mortier. Al van kinds af aan ben ik gepassioneerd door wagens. De ene dag racete ik rond op mijn quad, de andere richtte ik onze oprit in als carwash. Naast mijn werk als pijpfitter bleef ik met een verlangen zitten om met die passie voor auto’s aan de slag te gaan. Vanuit deze interesse is Olipoli dus ontstaan.</p>
								<p class="text">Olipoli is een jong detailing bedrijf dat kwaliteit voorop stelt. Ik, Olivier, sta in voor het schoonmaken en detailen van uw wagen.</p>
								<p class="text">Detailen is minder bekend bij het grote publiek aangezien het een vrij nieuw fenomeen is. Bij car detailing wordt de auto, zowel interieur als exterieur, heel grondig onder handen genomen en is er oog voor elk detail. Dit gebeurt steeds na een grondige wasbeurt van de wagen. Detailing gaat van polijsten, coaten en waxen van uw wagen tot het reinigen en voeden van het leer van uw zetels, zelfs de motorruimte wordt onder handen genomen.</p>
								<p class="text">Dankzij recente opleidingen en specialisaties kan ik de nieuwste technieken toepassen en heb ik een uitgebreide productkennis. Op die manier kan ik aangepaste producten selecteren voor de noden van u en uw wagen.</p>
								<p class="text">Bij Olipoli wordt samen met u bekeken welke behandeling uw wagen nodig heeft om hem er terug als nieuw te laten uitzien. De zorg wordt met precisie en de beste producten uitgevoerd.</p>
								<p class="text">Olipoli garandeert u kwaliteitsvolle zorg op maat.</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="contact">
				<div class="container-fluid container-fluid-no-margin-left-op container-fluid-no-offset-right-op">
					<div class="contact-information content-box content-box-no-padding-top content-box-no-margin-right row">
						<div class="col-md-6 information-padding-top-op margin-left-mobile-op">
							<h1 id="contact">Olipoli</h1>
							<div class="contact-part">
								<p class="text">Deinsesteenweg 85</p>
								<p class="text">9031 Drongen</p>
							</div>
							<div class="contact-part">
								<p class="text"><span class="bold">M.</span> +32(0)479203169</p>
								<p class="text"><span class="bold">E.</span> <a href="mailto:olivier@olipoli.be">olivier@olipoli.be</a></p>
								<p class="text"><span class="site-information-op" data-toggle="modal" data-target="#site-information">site information</span></p>
							</div>
							<div class="contact-part">
								<p class="text bold uppercase main-color">enkel op afspraak</p>
							</div>
							<div class="button-wrapper">
								<a href="mailto:olivier@olipoli.be" class="button button-contact-per-email-op">contact per e-mail</a>
							</div>
						</div>
						<div class="col-md-6 no-padding-right-op no-padding-left-mobile-op">
							<div id="map"></div>
						</div>
					</div>
				</div>
			</div>
			<div id="site-information" class="modal fade" role="dialog">
				<div class="modal-dialog modal-dialog-op modal-lg">
					<div class="modal-content modal-content-op">
						<div class="modal-header modal-header-op">
							<button type="button" class="close close-op" data-dismiss="modal">X</button>
						</div>
						<div class="modal-body modal-body-op">
							<h1 class="heading-package title-site-information">Site information</h1>
							<p class="text-site-information-op">The website <a href="http://www.olipoli.be">olipoli.be</a> is designed by Bea Van der Borght and developped by Gilles Vanpeteghem - <a href="http://www.gillesvanpeteghem.be" target="_blank">gillesvanpeteghem.be</a>.</p>
						</div>
					</div>
				</div>
			</div>

			include "footer.html"
		</div>
		
		<!-- start custom js -->
		<script type="text/javascript" src="assets/js/main.min.js"></script>
		<!-- end custom js -->

		<!-- start google maps js -->
		<script>
			function initMap(latitude, longitude) {
				var latitude = 51.0382;
				var longitude = 3.63123;
				var myLatLng = {lat: parseFloat(latitude), lng: parseFloat(longitude)};
				var map = new google.maps.Map(document.getElementById('map'), {
					zoom: 12,
					center: myLatLng

				});
				var icon = {
				    url: 'assets/img/icon_maps.png',
				    scaledSize: new google.maps.Size(24, 47),
				};
				var marker = new google.maps.Marker({
					position: myLatLng,
					map: map,
					title: 'Olipoli!',
					icon: icon
				});
			}
		</script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjN7k0oVLfPI5jh9L29xvKjwDOqs4lf50&callback=initMap"></script>
		<!-- end google maps js -->
	</body>
</html>