version1-laravel-angular/node_modules/
version1-laravel-angular/vendor/
version2-grunt/node_modules/
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
public/assets/css/app.css.map
/composer.lock