<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Olipoli</title>
	</head>

	<body ng-app="olipoli">
		<div ng-controller="mainCtrl">
			<ul ng-repeat="formula in formulas">
				<li>
   				{{formula.formulaName}}
   				<ul>
   					<li ng-repeat="formulaSort in formula.formulaSorts">
   						{{formulaSort.formulaSortsName}}
   						<ul>
   							<li ng-repeat="item in formulaSort.items">
   								{{item.itemName}}
   							</li>
   						</ul>
   					</li>
   				</ul>
    		</li>
    	</ul>
		</div>
		<script src="vendor/angular.js" type="text/javascript"></script>
		<script src="scripts/app.js" type="text/javascript"></script>
	</body>
</html>