
// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";
@import "pointy-slider";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@font-face {
	font-family: 'arimobold';
	src: url('../fonts/arimo-bold/arimo-bold-webfont.woff2') format('woff2'),
		 url('../fonts/arimo-bold/arimo-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

header{
	background-image: url("../../uploads/oldtimer-1426422_1920.jpg");
	height: 100%;
	height: 100vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

nav{
	&.navbar-op{
		background-color: transparent;
		border: transparent;
		padding-top: 50px;
		li{
			&.listitem-op{
				font-family: 'arimobold';
				font-size: 17px;
				text-transform: uppercase;
				&:hover{
					&::after {
						width: 50px;
						border-bottom: 1px solid $main-color;
						display: block;
						content: "";
						margin: 0 auto;
					 }
				}
				&:active{
					background-color: transparent;
				}
				a{
					&.link-op{
						color: $main-color;
						&:hover{
							background-color: transparent;
						}
					}
				}
			}   
		}
	}
}

.container{
	.content-box{
		padding-top: 75px;
		padding-bottom: 75px;
	}
	h1{
		color: $main-color;
		text-transform: uppercase;
		&.heading-package{
			color: $white;
		}
	}
	span{
		&.line{
			border-bottom: solid 3px $white;
			width: 75%;
			display:block;
		}
	}
	.package-styles-op{
		padding-top: 50px;
	}
	h2{
		&.subheading-package{
			color: $white;
			font-size: 15px;
			text-transform: uppercase;
		}
	}
	h3{
		&.price-package{
			background-color: $sub-color;
			background-image: url('../../assets/img/price-bg.png');
			background-repeat: no-repeat;
			background-position: 140px 0px;
			color: $white;
			width: 175px;
			padding: 20px;
		}
	}
	p{
		&.text{
			white-space: pre-wrap;
			text-align: justify;
			border: 0px;
		}
		&.conditions-package{
			color: $sub-color;
		}
	}
	ol{
		-webkit-padding-start: 15px;
		li{
			list-style-type: circle;
			&.text-package{
				color: $white;
				position: inherit;
			}
		}
	}
	button{
		background-color: $main-color;
		color: $white;
		padding: 10px 20px 10px 20px;
		text-transform: uppercase;
		border-width: 0px;
		&.mobile-navigation-button{
			background-color: transparent;
		}
	}
}

.packages{
	background-color: $main-color;
}

/* Override pointy slider */
@media only screen and (min-width: 900px){
	.cd-slider-wrapper {
		padding: 0px;
	}
}

@media only screen and (min-width: 1170px){
	.cd-slider .content {
	    padding: 0px;
	    padding-top: 75px;
	    display: block;
	}
}

/* .cd-slider-wrapper {
    height: 1000px;
    
} */

.content-1{
	height: 300px;
}

.cd-slider {
	.content{
		background-color: $main-color;
	}
	li:nth-of-type(2) .content {
		background-color: $main-color;
	}

	li:nth-of-type(3) .content {
		background-color: $main-color;
	}

	li:nth-of-type(4) .content {
		background-color: $main-color;
	}
}

.cd-slider-navigation {
    left: 62%;
    transform: translateX(-50%);
    bottom: 0px;
}

@media only screen and (max-width: 1199px){
	.cd-slider-navigation {
	    left: 64.5%;
	}
}

@media only screen and (max-width: 991px){
	.cd-slider-navigation {
	    left: 66.7%;
	}
}

@media only screen and (min-width: 900px){
	.cd-slider-navigation {
	    background-color: $sub-color;
	}
}

@media only screen and (min-width: 900px){
	.cd-slider-navigation li.selected a {
	    color: $white;
	}
	.cd-slider-navigation a {
	    color: $gray;
	    font-weight: 700;
	}
}

/* End Override pointy slider */

@media only screen and (max-width: 768px){
	nav{
		text-align: center;
		.hero-image-op{
			padding-bottom: 30px;
		}
		.navbar-collapse-op{
			border: 0px;
		}
		&.navbar-op{
			li{
				&.listitem-op{
					float: left;
					&:hover{
						a{
							color: $black;
						}
						&::after {
							border-bottom: 0px;
						 }
					}
				}
			}
		}
		button{
			&.navbar-toggle-op{
				float: none;
				margin: 0 auto;
				display: block;
			}
		}
	}
	.navbar-default-op{
		.navbar-toggle-op{
			border: 1px solid $main-color;
			border-radius: 0px;
			&:hover,
			&:focus{
				background-color: $main-color;
				span{
					&.icon-bar-op{
						background-color: $white;
					}
				}
			}
			span{
				&.icon-bar-op{
					background-color: $main-color;;
				}
			}
		}
	}
}