/*--- FONTS ---*/
@import url("../css/libraries/fontawesome/4.7.0/font-awesome.css");
@import url("../css/libraries/bootstrap/3.3.7/bootstrap.min.css");
@font-face {
  font-family: 'helvetica-neuebold';
  src: url("../fonts/helvetica-neue-condensed-bold/HelveticaNeue-CondensedBold.eot");
  src: url("../fonts/helvetica-neue-condensed-bold/HelveticaNeue-CondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica-neue-condensed-bold/HelveticaNeue-CondensedBold.woff2") format("woff2"), url("../fonts/helvetica-neue-condensed-bold/HelveticaNeue-CondensedBold.woff") format("woff"), url("../fonts/helvetica-neue-condensed-bold/HelveticaNeue-CondensedBold.ttf") format("truetype"), url("../fonts/helvetica-neue-condensed-bold/HelveticaNeue-CondensedBold.svg#HelveticaNeue-CondensedBold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'arimobold';
  src: url("../fonts/arimo-bold/arimo-bold-webfont.woff2") format("woff2"), url("../fonts/arimo-bold/arimo-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/*--- COLORS ---*/
.no-padding-right-op {
  padding-right: 0px; }

.background {
  height: 670px;
  background-size: cover;
  background-repeat: no-repeat; }

.container-fluid {
  margin-left: 20%;
  margin-right: 20%; }
  .container-fluid.container-fluid-no-offset-right-op {
    margin-right: 0%;
    padding-right: 0%; }
  @media only screen and (max-width: 767px) {
    .container-fluid.container-fluid-header, .container-fluid.container-fluid-video {
      margin-left: 0%;
      margin-right: 0%; }
    .container-fluid .col-md-12-video {
      padding-right: 0px;
      padding-left: 0px; } }

.main-background {
  background-color: #a6c7b8; }

.title-site-information {
  font-size: 45px; }

span.site-information-op {
  font-style: italic;
  text-decoration: underline;
  cursor: pointer; }

.text-site-information-op {
  color: #ffffff; }
  .text-site-information-op a {
    color: #0c8580;
    text-decoration: underline; }

header {
  background-image: url("../img/oldtimer-header.jpg");
  height: 100%;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.logo-olipoli-op {
  position: absolute; }

nav.navbar-op {
  background-color: transparent;
  border: transparent;
  padding-top: 50px; }
  nav.navbar-op img.hero-image-op {
    width: 175px;
    height: 175px; }
  nav.navbar-op li.listitem-op {
    font-family: "helvetica-neuebold";
    font-size: 24px;
    text-transform: uppercase; }
    nav.navbar-op li.listitem-op:hover {
      border-bottom: 1px solid #a6c7b8; }
    nav.navbar-op li.listitem-op:active {
      background-color: transparent; }
    nav.navbar-op li.listitem-op a.link-op {
      color: #a6c7b8; }
      nav.navbar-op li.listitem-op a.link-op:hover {
        background-color: transparent; }

.content-box {
  padding-top: 75px;
  padding-bottom: 75px; }

.content-box-no-padding-top {
  padding-top: 0px;
  padding-bottom: 0px; }

.content-box-no-margin-right {
  margin-right: 0px; }

.content-box-multiple-op {
  padding-top: 75px;
  padding-bottom: 75px; }

img.picture-op {
  display: block;
  margin: 0 auto;
  padding-top: 75px; }

.package-title-op {
  padding-bottom: 45px; }

h1 {
  font-family: "helvetica-neuebold";
  font-size: 54px;
  color: #a6c7b8;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 25px; }
  h1.heading-package {
    color: #0c8580; }
  h1.h1-t-a-c {
    text-align: center; }
  h1.h1-white {
    color: #ffffff; }

span.line {
  border-bottom: solid 3px #0c8580;
  width: 10%;
  display: block; }

span.line-passie-kennis {
  border-bottom: solid 3px #ffffff;
  width: 50%;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 25px; }

h2.subheading-package {
  font-family: arial;
  font-weight: bold;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase; }

h3.price-package {
  font-family: "helvetica-neuebold";
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  color: #ffffff;
  border: solid 4px #ffffff;
  padding: 15px;
  margin-top: 30px;
  /* background-color: $sub-color;
		color: $white;
		background-image: url('../img/price-bg.png');
		background-repeat: no-repeat;
		background-size: 36px 66px;
		padding: 18px;
		line-height: 31px;
		margin: 12px 0 8px;
		background-color: transparent; */ }
  h3.price-package.pro-wash {
    /* background-position: 255px 0px;
			width: 290px; */
    width: 210px; }
  h3.price-package.pro-wash-wax, h3.price-package.basic, h3.price-package.premium, h3.price-package.interior, h3.price-package.season {
    /* background-position: 415px 0px;
			width: 450px; */
    width: 236px; }
  h3.price-package.vip, h3.price-package.oldtimer {
    /* background-position: 495px 0px;
			width: 530px; */
    width: 300px; }
  h3.price-package.headlight {
    /* background-position: 565px 0px;
			width: 600px; */
    width: 375px; }
  h3.price-package small {
    font-size: 14px;
    color: #ffffff; }

p {
  margin: 0;
  padding-bottom: 25px; }
  p.text {
    font-family: arial;
    font-size: 16px;
    color: #666666;
    text-align: justify;
    border: 0px; }

.button-wrapper {
  padding-top: 25px;
  padding-bottom: 40px; }

a.button,
.button {
  font-family: "helvetica-neuebold";
  font-size: 24px;
  background-color: #a6c7b8;
  color: #ffffff;
  padding: 15px 40px 15px 40px;
  text-transform: uppercase;
  border-width: 0px; }
  a.button.mobile-navigation-button,
  .button.mobile-navigation-button {
    background-color: transparent; }
  a.button:hover,
  .button:hover {
    background-color: #666666;
    text-decoration: none; }
  a.button.load-more,
  .button.load-more {
    margin: 0 auto;
    display: block;
    width: 50%; }
  a.button.read-more,
  .button.read-more {
    background-color: transparent;
    color: #ffffff;
    border: solid 4px #ffffff;
    padding: 10px 50px 10px 50px;
    margin-top: 15px; }
  a.button.more-pictures-op,
  .button.more-pictures-op {
    background-color: #ccc; }
  a.button.download-pdf-op,
  .button.download-pdf-op {
    background-color: #ffffff;
    color: #000000; }

.button {
  background-color: #ffffff;
  color: #a6c7b8; }
  .button:focus {
    outline: none !important; }

.contact-information p {
  line-height: 0px; }
  .contact-information p.uppercase {
    text-transform: uppercase; }
  .contact-information p.main-color {
    color: #a6c7b8; }
  .contact-information p.bold {
    font-weight: bold; }
  .contact-information p.text.main-color {
    color: #a6c7b8; }

.contact-information span.main-color {
  color: #a6c7b8; }

.contact-information span.bold {
  font-weight: bold; }

.contact-information button {
  background-color: #a6c7b8;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  text-transform: uppercase;
  border-width: 0px; }
  .contact-information button.contact-button {
    background-color: #666666; }
  .contact-information button:hover {
    background-color: #ffffff;
    color: #a6c7b8; }

.information-padding-top-op {
  padding-top: 125px; }

#map {
  height: 550px; }

.packages {
  background-color: #a6c7b8; }
  .packages .package {
    padding-top: 75px;
    height: 650px; }
  .packages .package-more {
    padding-top: 0px;
    height: auto; }
  .packages h1 {
    margin: 0;
    padding-bottom: 0; }
  .packages p {
    padding-bottom: 0;
    line-height: 25px;
    color: #ffffff; }
    .packages p.package-description-op {
      font-family: arial;
      font-weight: bold;
      padding-top: 10px; }
    .packages p.conditions-package, .packages p.package-description-op {
      font-family: arial;
      width: 100%;
      color: #0c8580; }
    .packages p.conditions-package {
      color: #ffffff; }
  .packages ul.list-wrapper-op {
    -webkit-padding-start: 16px; }
  .packages ul li {
    padding-bottom: 0;
    line-height: 25px;
    color: #ffffff; }
    .packages ul li.item-op {
      font-family: arial;
      font-size: 14px; }

.passieENkennis {
  background-color: #a6c7b8; }
  .passieENkennis h1 {
    color: #ffffff;
    text-align: center;
    padding-bottom: 0px; }
  .passieENkennis p.text {
    color: #ffffff;
    text-align: center; }

.coatings {
  background-color: #000000; }

.b2b p.text {
  padding: 0; }

.contact h1 {
  color: #a6c7b8; }

.contact p span {
  color: #a6c7b8; }

.contact p.text {
  color: #666666; }
  .contact p.text a {
    text-decoration: none;
    color: #666666; }

.contact .contact-part {
  padding-bottom: 25px; }

iframe {
  width: 100%;
  border: 0;
  overflow: hidden;
  margin-bottom: 50px; }

.more-pictures-op {
  text-align: center; }
  .more-pictures-op a {
    padding-left: 300px;
    padding-right: 300px; }

.download-pdf-op {
  text-align: center; }
  .download-pdf-op a {
    padding-left: 20px;
    padding-right: 20px; }

footer {
  font-family: "helvetica-neuebold";
  background-color: #0c8580;
  color: #ffffff; }
  footer p {
    font-size: 24px;
    padding: 0;
    padding-top: 20px; }
  footer a {
    padding: 10px 10px 0 10px; }
    footer a:active, footer a:hover, footer a:focus {
      color: #a6c7b8; }
  footer i {
    width: 20px;
    padding: 15px;
    color: #ffffff; }
    footer i:hover {
      color: #a6c7b8; }

.modal.in .modal-dialog-op .modal-content-op {
  background-color: #a6c7b8;
  height: 100%;
  border-radius: 0px;
  border: 0px; }
  .modal.in .modal-dialog-op .modal-content-op .close-op {
    color: #ffffff;
    font-size: 35px;
    font-family: arial;
    font-weight: 100;
    border: solid 1px #ffffff;
    padding: 3px 10px;
    opacity: 1; }
    .modal.in .modal-dialog-op .modal-content-op .close-op:focus {
      outline: none !important; }

.modal.in .modal-dialog-op .modal-body-op {
  padding: 50px 100px 100px 100px; }

.modal-header-op {
  border: none;
  padding-bottom: 0px; }

.modal-body-op {
  padding-top: 0px; }

/*package numbers*/
.carousel-indicators-op {
  left: 0%;
  bottom: 0px;
  margin-left: 0px;
  width: auto;
  margin-bottom: 0px;
  -webkit-padding-start: 0px; }
  .carousel-indicators-op li {
    float: left;
    padding: 0px;
    margin: 0px;
    text-indent: 0;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 0%;
    line-height: 60px;
    color: #b7b3b2;
    background-color: rgba(38, 114, 110, 0.8);
    font-size: 20px;
    font-weight: bold; }
    .carousel-indicators-op li.active, .carousel-indicators-op li.active:hover {
      width: 60px;
      height: 60px;
      background-color: #0c8580;
      opacity: 1;
      color: #fff; }

.background-image-one {
  background-image: url("../../assets/img/olipoli-pro-wash.jpg"); }

.background-image-two {
  background-image: url("../../assets/img/olipoli-pro-wash-wax.jpg"); }

.background-image-three {
  background-image: url("../../assets/img/olipoli-basic.jpg"); }

.background-image-four {
  /*background-image: url('../../assets/img/olipoli-premium.jpg');*/
  background-image: url("../../assets/img/olipoli-interior.jpg"); }

.background-image-five {
  /*background-image: url('../../assets/img/olipoli-interior.jpg');*/
  background-image: url("../../assets/img/olipoli-vip.jpg"); }

.background-image-six {
  /*background-image: url('../../assets/img/olipoli-season.jpg');*/
  background-image: url("../../assets/img/olipoli-polijsten-van-koplampen.jpg"); }

.background-image-seven {
  /*background-image: url('../../assets/img/olipoli-vip.jpg');*/
  background-image: url("../../assets/img/olipoli-oldtimers.jpg"); }

.background-image-eight {
  background-image: url("../../assets/img/olipoli-polijsten-van-koplampen.jpg"); }

.background-image-nine {
  background-image: url("../../assets/img/olipoli-oldtimers.jpg"); }

/*package numbers*/
@media only screen and (max-width: 1800px) {
  .container-fluid {
    margin-left: 5%;
    margin-right: 5%; } }

@media only screen and (max-width: 1153px) {
  .carousel-indicators li {
    display: block;
    float: none; } }

@media only screen and (max-width: 1228px) {
  navbar-right {
    padding-left: 0px; }
    navbar-right ul li a {
      font-size: 20px; } }

@media only screen and (max-width: 1105px) {
  .container-fluid.container-fluid-navigation-op {
    margin-left: 0%;
    margin-right: 0%; }
  nav.navbar-op li.listitem-op a:first-child {
    padding-left: 0px; }
  nav.navbar-op li.listitem-op a:hover {
    color: #000000; }
  nav.navbar-op li.listitem-op:hover::after {
    width: 0px; } }

@media only screen and (max-width: 991px) {
  .navbar-right {
    padding-left: 0px; }
    .navbar-right ul li a {
      font-size: 18px; }
  .container-fluid.container-fluid-no-margin-left-op {
    margin-left: 0%; }
  .container-fluid .no-padding-left-mobile-op {
    padding-left: 0px; }
  img.picture-op {
    padding-top: 0px;
    padding-bottom: 75px;
    width: 100%; }
  .button.button-contact-per-email-op {
    font-size: 20px;
    padding: 15px; }
  button.contact-information {
    margin-bottom: 20px; }
  button.contact-button {
    margin-bottom: 20px; }
  .more-pictures-op a {
    padding-left: 30px;
    padding-right: 30px; }
  #map {
    margin-top: 30px; }
  .information-padding-top-op {
    padding-top: 75px; }
  .packages .package-pro-wash,
  .packages .package-pro-wash-wax,
  .packages .package-basic,
  .packages .package-premium,
  .packages .package-interior,
  .packages .package-season,
  .packages .package-vip,
  .packages .package-headlight,
  .packages .package-oldtimers {
    height: auto;
    padding-bottom: 30px; }
  .packages .package-pro-wash {
    /*height: 750px;*/ }
  .packages .package-pro-wash-wax {
    /*height: 850px;*/ }
  .packages .package-basic {
    /*height: 900px;*/ }
  .packages .package-premium {
    /*height: 900px;*/ }
  .packages .package-interior {
    /*height: 950px;*/ }
  .packages .package-season {
    /*height: 900px;*/ }
  .packages .package-vip {
    /*height: 950px;*/ }
  .packages .package-headlight {
    /*height: 750px;*/ }
  .packages .package-oldtimers {
    /*height: 600px;*/ }
  .margin-left-mobile-op {
    margin-left: 5%; }
  .modal.in .modal-dialog-op {
    width: 90%; }
  .modal.in .modal-dialog-op {
    width: 90%; }
    .modal.in .modal-dialog-op .modal-body-op {
      padding: 25px; }
  h3.price-package.smaller {
    font-size: 23px;
    width: 250px; }
  h3.price-package.headlight {
    font-size: 23px;
    width: 100%; }
  #referenties {
    font-size: 50px; }
  footer p {
    font-size: 13px; }
  footer .fa-3x {
    font-size: 2em; }
  footer i {
    padding: 15px 5px 5px 5px; } }

@media only screen and (max-width: 920px) {
  .navbar-right {
    padding-left: 0px; }
    .navbar-right ul li a {
      font-size: 16px; } }

@media only screen and (max-width: 860px) {
  .navbar-right {
    padding-left: 0px; }
    .navbar-right ul li a {
      font-size: 12px; } }

@media only screen and (max-width: 767px) {
  .navbar-collapse {
    -webkit-box-shadow: none;
    box-shadow: none; }
  nav {
    text-align: center; }
    nav .navbar-collapse-op {
      border: 0px;
      background-color: #000000;
      margin-top: 12px; }
    nav.navbar-op li.listitem-op {
      float: center;
      padding-top: 10px;
      padding-bottom: 10px; }
      nav.navbar-op li.listitem-op:hover {
        border-bottom: 0px solid; }
        nav.navbar-op li.listitem-op:hover a {
          color: #000000; }
        nav.navbar-op li.listitem-op:hover::after {
          border-bottom: 0px; }
      nav.navbar-op li.listitem-op a.link-op {
        color: #ffffff;
        font-size: 20px; }
        nav.navbar-op li.listitem-op a.link-op:hover {
          color: #a6c7b8; }
    nav button.navbar-toggle-op {
      background-color: #a6c7b8;
      float: none;
      margin: 0 auto;
      display: block; }
  .navbar-default-op .navbar-toggle-op {
    border: 1px solid #a6c7b8;
    border-radius: 0px; }
    .navbar-default-op .navbar-toggle-op:hover, .navbar-default-op .navbar-toggle-op:focus {
      background-color: #a6c7b8; }
      .navbar-default-op .navbar-toggle-op:hover span.icon-bar-op, .navbar-default-op .navbar-toggle-op:focus span.icon-bar-op {
        background-color: #ffffff; }
    .navbar-default-op .navbar-toggle-op span.icon-bar-op {
      background-color: #a6c7b8;
      background-color: #ffffff; }
  iframe {
    margin-bottom: 25px; } }

@media only screen and (max-width: 400px) {
  h3.price-package.headlight {
    font-size: 23px;
    width: 100%; } }

.video-section {
  max-width: 100%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 75px; }
  .video-section .video-section-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
